<!DOCTYPE html>

<head>
    <title>Donate</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/book-donation-style.css}">
</head>

<body>

<div class="form-wrap">

    <form th:action="@{/donate}" th:object="${book}" method="post">

        <h1>Donate</h1>
        <select th:field="*{type}" id="type" required="required">
            <option hidden selected value="">-- Choose type --</option>
            <option th:each="bookType : ${bookTypes}" th:value="${bookType}" th:text="${bookType}"></option>
        </select>
        <input th:field="*{name}" type="text" placeholder="Book name" required="required">
        <input th:field="*{author}" type="text" placeholder="Author" required="required">
        <select th:field="*{genre}" id="genre" required="required">
            <option hidden selected value="">-- Choose genre --</option>
            <option th:each="bookGenre : ${bookGenres}" th:value="${bookGenre}"
                    th:text="${bookGenre}">
        </select>
        <select th:field="*{condition}" id="condition" required="required">
            <option hidden selected value="">-- Choose condition --</option>
            <option th:each="bookCondition : ${bookConditions}" th:value="${bookCondition}"
                    th:text="${bookCondition}">
        </select>
        <div class="buttons">
            <input type="submit" value="Confirm">
            <input type="button" value="Back" onclick="location.href='/'">
        </div>

    </form>

</div>


</body>


</html>