<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issued books</title>
    <link rel="stylesheet" type="text/css" th:href="@{../styles/catalogue-style.css}"/>
</head>
<body>

<div class="container">
    <h1>Issued books</h1>
    <div class="book" th:each="book : ${bookList}">
        <div class="icon">
            <img th:src="@{/resources/images/book-icon.png}" alt="" src=""/>
        </div>
        <div class="content">
            <h2 th:text="${book.name}">Name</h2>
            <p th:text="'Author: ' + ${book.author}">Author</p>
            <p th:text="'Genre:' + ${book.genre}">Genre</p>
            <span th:text="'Date added: ' + ${book.dateAdded}">Date added</span>
            <!--            <form th:action="" method="">-->
            <button class="borrow-btn">Download</button>
            <!--            </form>-->
        </div>
    </div>
</div>
<button class="back-btn" onclick="location.href='/'" type="button">Back</button>
</body>
</html>