<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/login}" th:object="${authenticationRequest}" method="post">
    <p>
        <label>
            Email: <input type="text" th:field="*{email}"/>
        </label>
    </p>
    <p>
        <label>
            Password: <input type="text" th:field="*{password}"/>
        </label>
    </p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset">
    </p>
</form>
<button onclick="location.href='/'">Back</button>
</body>
</html>